body{
  cursor: none;
}
.pointer {
  position: absolute;
  /* width: 80px;
  height: 80px;
  background: url("/img/커서투명.png") center center;
  background-size: cover;
  transform-origin: right;
  transform: rotateZ(-90deg); */
  font-size: 30px;
}
.fa-shuttle-space {
  color: #fff;
  transform: rotateZ(-135deg);
}


/*Slogan Page*/
.Slogan {
  width: 100vw;
  height: 100vh;
  background: url("/img/우주선내부ver1.jpg")no-repeat center center;
  background-size: cover;
}

/*Profile Page*/
.Profile {
  width: 100vw;
  height: 100vh;
  background: url("/img/프로필페이지배경.jpg")no-repeat center center;
  background-size: cover;
}