* {
  margin: 0;
  padding: 0;
}
/* body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}
#profile {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border: 1px solid #ccc;
padding: 10px;
border-radius: 5%;
}
img {
  width: 150px;
  border: 5%;
}
#desc {
  margin: 10px 20px;
}
p {
  font-size: 0.8rem;
  line-height: 1.8;
}
.clicked {
  background-color: yellow;
  color: blue;
}
.mode{
background-color: #333;
color: #ddd;
}
#modalbox {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#modalbox.active {
  display: flex;
}
#open {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  width: 200px;
  z-index: 1;
}
#close {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 200px;
}
#btn {
  position: absolute;
  right: 30px;
  z-index: 1;
}