* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222;
  color: #fff;
}
h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}
#profile {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
border: 1px solid #ccc;
padding: 10px;
border-radius: 5%;
}
img {
  width: 150px;
  border: 5%;
}
#desc {
  margin: 10px 20px;
}
p {
  font-size: 0.8rem;
  line-height: 1.8;
}
.clicked {
  background-color: yellow;
  color: blue;
}
.mode{
background-color: #fff;
color: #000;
}