#box1 {
  display: inline;
  background-color: red;
  width: 500px; height: 50px;
  margin: 10px;
}
#box2 {
  display: inline-block;
  background-color: red;
  width: 500px; height: 50px;
  margin: 10px;
}